body {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-size: 100px;
	text-align: left;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

section {
	height: 600px;
}

#menu-container{
	height:80px;
	width:100%;
	width: 100%;
	position: relative;
	z-index: 1000;
}
#menu {
	background-color: #629bb3;
	height: 80px;
	padding: 0 20px 0 20px;
	position: relative;
	z-index: 1;
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	-o-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=30);
}

img#banner {opacity:0;}

#logo a { 
	color: #fff; 
	text-decoration: none; 
	float: left; 
	font-size: 30px; 
	line-height: 80px; 
	color: #fff; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-weight: bold; 
	}

nav { 
	text-align:right; 
	line-height:80px;
	
	}
	
nav ul{
	padding:0;
    margin: 0 auto;
}

nav li{
	list-style: none;
	display: inline-block;
	text-align: right;
	margin-left: 1%;
	margin-right: 1%;
}

nav li a { color: #fff; opacity:0.6; font-size: 20px; text-decoration: none; font-family: 'Source Sans Pro', sans-serif; }
nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
nav li a:hover { color: #fff; opacity:1;  }

nav select {display:none;}

@media only screen and (max-width:960px) {
	nav ul {display:none;}
	nav select  {display: inline-block;}

}

#about {
	color: #fff;
	height: 600px;
    margin: 0;
    padding: 20px 20px 20px 20px;
	text-align: left;
    background-size: cover;
	background-color: rgba(98, 155, 179, 1);
	position: relative;
	z-index: -1;
	padding: 0 20px 0 20px;

	}

#pictures, #music, #tour, #contact {
	color: #fff;
	height: 600px;
    margin: 0;
    padding: 20px 20px 20px 20px;
	margin-top: 0px;
	background-color: #629bb3;	
	text-align: left;
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	-o-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.9);
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=30);
	}

#box{
	
}


